@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: 'VT323', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #1d1d1d;
}

code {
	font-family: 'VT323', monospace;
}
